/* COLORS */
/* I C O N S */
/* M E N U  A R E A */
/* M E D I A   Q U E R I E S */
/* F O N T   F A M I L Y */
@font-face {
  font-family: isidora;
  src: url(../fonts/isidora-regular.woff);
  font-display: swap;
}

@font-face {
  font-family: isidora-italic;
  src: url(../fonts/isidora-regularit.woff);
  font-display: swap;
}

@font-face {
  font-family: isidora-medium;
  src: url(../fonts/isidora-medium.woff);
  font-display: swap;
}

@font-face {
  font-family: isidora-medium-italic;
  src: url(../fonts/isidora-mediumit.woff);
  font-display: swap;
}

@font-face {
  font-family: isidora-semibold;
  src: url(../fonts/isidora-semibold.woff);
  font-display: swap;
}

@font-face {
  font-family: isidora-semibold-italic;
  src: url(../fonts/isidora-semiboldit.woff);
  font-display: swap;
}

@font-face {
  font-family: isidora-bold;
  src: url(../fonts/isidora-bold.woff);
  font-display: swap;
}

@font-face {
  font-family: isidora-bold-italic;
  src: url(../fonts/isidora-bold-it.woff);
  font-display: swap;
}

/* G L O B A L */
html {
  font-family: isidora-medium;
  font-size: 62.5%;
}

a:link,
a:visited {
  display: block;
  text-decoration: none;
  font-family: isidora-medium;
  font-size: clamp(16px, 5vw, 20px);
  text-align: center;
  color: #feea01;
  background-color: rgba(152, 140, 1, 0.1);
}

a:link:link p,
a:visited:link p {
  padding: 5px 10px;
  margin: 1px 0;
}

@media screen and (min-width: 800px) {
  a:link:link, a:link:visited,
  a:visited:link,
  a:visited:visited {
    margin: 0 10px;
    padding: 0;
    font-family: isidora-semibold;
    font-size: clamp(16px, 2.2rem, 26px);
    background-color: transparent;
  }
  a:link:hover,
  a:visited:hover {
    color: #19d0ff;
  }
  a:link:active,
  a:visited:active {
    color: #ffffff;
  }
}

.menu__bar--privacy > li > a {
  background-color: transparent;
}

.menu__bar--privacy > li > a > p {
  font-size: clamp(16px, 2vw, 20px);
}

li {
  list-style-type: none;
  width: 100%;
  padding: 4px 0;
}

@media screen and (min-width: 1350px) {
  li {
    width: auto;
    padding: 4px 4px;
  }
}

/* GENERAL */
*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

/* I C O N S */
.menu__icon--big {
  position: fixed;
  height: clamp(40px, 7vw, 65px);
  width: clamp(40px, 7vw, 65px);
  top: clamp(26px, 4vw, 45px);
  z-index: 92;
}

.menu__icon--small {
  height: clamp(27px, 3vw, 33px);
  width: clamp(27px, 3vw, 33px);
  -webkit-box-shadow: 0 0 0 0, 2rem #feea01;
          box-shadow: 0 0 0 0, 2rem #feea01;
  border-radius: 50%;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.menu__icon--small:active {
  -webkit-box-shadow: 0 0 0 0.2rem #ffffff;
          box-shadow: 0 0 0 0.2rem #ffffff;
}

@media screen and (min-width: 800px) {
  .menu__icon--small:hover {
    -webkit-box-shadow: 0 0 0 4px #19d0ff;
            box-shadow: 0 0 0 4px #19d0ff;
  }
}

.daf-logo {
  left: clamp(26px, 4vw, 45px);
}

/* M E N U */
.menu {
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: 90;
}

.menu label {
  position: fixed;
  top: clamp(26px, 4vw, 45px);
  right: clamp(26px, 4vw, 45px);
  height: clamp(40px, 7vw, 65px);
  width: clamp(40px, 7vw, 65px);
  border-radius: 50%;
  cursor: pointer;
  z-index: 93;
}

#navigation {
  display: none;
}

/* M E N U   B U T T O N */
.menu__button {
  right: clamp(26px, 4vw, 45px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  background-color: #222222;
  -webkit-box-shadow: 0 0 0 0.2rem #feea01;
          box-shadow: 0 0 0 0.2rem #feea01;
}

@media screen and (min-width: 800px) {
  .menu__button::after {
    content: '';
    position: fixed;
    height: clamp(40px, 7vw, 65px);
    width: clamp(40px, 7vw, 65px);
    border-radius: 50%;
    -webkit-box-shadow: 0 0 0 0.4rem #19d0ff;
            box-shadow: 0 0 0 0.4rem #19d0ff;
    opacity: 0;
    -webkit-transition: opacity 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out;
  }
}

.menu__button:hover::after {
  opacity: 1;
}

.menu__button--lines {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  -webkit-box-shadow: 0 0 0 0.1rem #feea01;
          box-shadow: 0 0 0 0.1rem #feea01;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.menu__button--lines::before, .menu__button--lines::after {
  content: '';
  position: absolute;
  bottom: clamp(6px, 0.9vw, 10px);
  width: 100%;
  -webkit-box-shadow: inherit;
          box-shadow: inherit;
  z-index: 99;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.menu__button--lines::after {
  top: clamp(6px, 0.9vw, 10px);
}

@media screen and (min-width: 800px) {
  .menu__button:hover > .menu__button--lines,
  #navigation:checked + label .menu__button:hover > .menu__button--lines,
  #navigation:checked + label .menu__button:hover > .menu__button--lines::after {
    -webkit-box-shadow: 0 0 0 0.15rem #19d0ff;
            box-shadow: 0 0 0 0.15rem #19d0ff;
  }
}

/* M E N U   B U T T O N   A N I M A T I O N */
#navigation:checked + label .menu__button {
  -webkit-box-shadow: 0 0 0 0.2rem #ffffff;
          box-shadow: 0 0 0 0.2rem #ffffff;
}

#navigation:checked + label .menu__button > .menu__button--lines {
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
  -webkit-box-shadow: 0 0 0 0.1rem #ffffff;
          box-shadow: 0 0 0 0.1rem #ffffff;
}

#navigation:checked + label .menu__button > .menu__button--lines::before, #navigation:checked + label .menu__button > .menu__button--lines::after {
  top: 0;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  z-index: 99;
  -webkit-box-shadow: 0 0 0 0.1rem #ffffff;
          box-shadow: 0 0 0 0.1rem #ffffff;
}

/* M E N U   B A R S */
.menu__container {
  position: relative;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.menu__bar {
  position: relative;
  top: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
  height: 100%;
  background: transparent;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

@media screen and (min-width: 800px) {
  .menu__bar {
    background: transparent;
    -webkit-transition: none;
    transition: none;
  }
}

.menu__bar--pages {
  position: relative;
  top: 100px;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50vw;
  padding: 1rem 0;
  margin: 0 auto;
  background: #222222;
  -webkit-box-shadow: 0 0 0 2px #feea01;
          box-shadow: 0 0 0 2px #feea01;
  border-radius: 2rem;
  translate: 100vw 0;
}

@media screen and (min-width: 420px) {
  .menu__bar--pages {
    top: 10px;
  }
}

@media screen and (min-width: 800px) {
  .menu__bar--pages {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (min-width: 1350px) {
  .menu__bar--pages {
    position: absolute;
    top: 36px;
    right: 135px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    border-radius: 40px;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
}

.menu__bar--privacy {
  position: relative;
  top: 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 2rem;
  margin: 0 auto;
  width: 70vw;
  background: #222222;
  -webkit-box-shadow: 0 0 0 2px #feea01;
          box-shadow: 0 0 0 2px #feea01;
  border-radius: 2rem;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  translate: -100vw 0;
}

@media screen and (min-width: 420px) {
  .menu__bar--privacy {
    top: 25px;
  }
}

@media screen and (min-width: 1350px) {
  .menu__bar--privacy {
    right: auto;
    left: 135px;
  }
}

.menu__bar--social-media {
  position: absolute;
  top: 100px;
  left: clamp(26px, 4vw, 45px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 20px 20px 0;
  width: clamp(40px, 7vw, 65px);
  height: min(230px, 50vw);
  background: #222222;
  -webkit-box-shadow: 0 0 0 2px #feea01;
          box-shadow: 0 0 0 2px #feea01;
  border-radius: 4rem;
  translate: 0 -100vh;
}

@media screen and (min-width: 1350px) {
  .menu__bar--social-media {
    position: absolute;
    top: 125px;
    left: 45px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    width: 60px;
    height: 200px;
  }
}

.menu__bar--social-media li {
  width: auto;
}

.menu__bar--languages {
  position: absolute;
  top: 100px;
  right: clamp(26px, 4vw, 45px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: clamp(40px, 7vw, 65px);
  height: 90px;
  background: #222222;
  -webkit-box-shadow: 0 0 0 2px #feea01;
          box-shadow: 0 0 0 2px #feea01;
  border-radius: 40px;
  translate: 0 -100vh;
}

@media screen and (min-width: 1350px) {
  .menu__bar--languages {
    position: absolute;
    top: 125px;
    right: 45px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 60px;
    height: 100px;
  }
  .menu__bar--languages:hover {
    -webkit-box-shadow: 0 0 0 4px #19d0ff;
            box-shadow: 0 0 0 4px #19d0ff;
  }
}

/* M E N U   B A R S   A N I M A T I O N */
.menu__bar--privacy,
.menu__bar--languages,
.menu__bar--pages,
.menu__bar--social-media {
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

@media screen and (min-width: 1350px) {
  .menu__bar--privacy,
  .menu__bar--languages,
  .menu__bar--pages,
  .menu__bar--social-media {
    -webkit-transform: none;
            transform: none;
  }
}

#navigation:checked ~ .menu__container > .menu__bar > .menu__bar--privacy,
#navigation:checked ~ .menu__container > .menu__bar > .menu__bar--languages,
#navigation:checked ~ .menu__container > .menu__bar > .menu__bar--pages,
#navigation:checked ~ .menu__container > .menu__bar > .menu__bar--social-media {
  translate: 0 0;
}

#navigation:checked ~ .menu__container > .menu__bar {
  background: rgba(34, 34, 34, 0.8);
}

/* LANGUAGE */
#language {
  display: none;
}

.menu__bar--languages > label {
  position: relative;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
  border-radius: 3rem;
}

[data-category="language__english"] {
  position: relative;
  top: 0.4rem;
  left: 0rem;
  -webkit-box-shadow: 0 0 0 0.1rem #feea01;
          box-shadow: 0 0 0 0.1rem #feea01;
  -webkit-transform: scale(0.6);
          transform: scale(0.6);
  -webkit-transition: -webkit-transform 0.2s ease;
  transition: -webkit-transform 0.2s ease;
  transition: transform 0.2s ease;
  transition: transform 0.2s ease, -webkit-transform 0.2s ease;
  z-index: 94;
}

@media screen and (min-width: 1350px) {
  [data-category="language__english"] {
    top: 0.5rem;
    left: 0rem;
    -webkit-transform: scale(0.75);
            transform: scale(0.75);
  }
}

[data-category="language__german"] {
  position: relative;
  top: -0.4rem;
  right: 0rem;
  -webkit-box-shadow: 0 0 0 0.2rem #ffffff;
          box-shadow: 0 0 0 0.2rem #ffffff;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  z-index: 95;
}

@media screen and (min-width: 1350px) {
  [data-category="language__german"] {
    top: -0.6rem;
    right: 0rem;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

#language:checked + nav [data-category="language__english"] {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  -webkit-box-shadow: 0 0 0 0.2rem #ffffff;
          box-shadow: 0 0 0 0.2rem #ffffff;
  z-index: 95;
}

#language:checked + nav [data-category="language__german"] {
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
  -webkit-box-shadow: 0 0 0 0.1rem #feea01;
          box-shadow: 0 0 0 0.1rem #feea01;
  z-index: 94;
}

[lang="en"] {
  display: none;
}

#language:checked + nav [lang="en"] {
  display: block;
}

#language:checked + nav [lang="de"] {
  display: none;
}

header {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: url("../img/landing_bg_sm.webp") no-repeat center top;
}

.content-box {
  height: 1400px;
  width: 100vw;
  background-color: turquoise;
}
