/* COLORS */
/* FONTS */
@font-face {
  font-family: isidora;
  src: url(../fonts/isidora-regular.woff);
}

@font-face {
  font-family: isidora-italic;
  src: url(../fonts/isidora-regularit.woff);
}

@font-face {
  font-family: isidora-medium;
  src: url(../fonts/isidora-medium.woff);
}

@font-face {
  font-family: isidora-medium-italic;
  src: url(../fonts/isidora-mediumit.woff);
}

@font-face {
  font-family: isidora-semibold;
  src: url(../fonts/isidora-semibold.woff);
}

@font-face {
  font-family: isidora-semibold-italic;
  src: url(../fonts/isidora-semiboldit.woff);
}

@font-face {
  font-family: isidora-bold;
  src: url(../fonts/isidora-bold.woff);
}

@font-face {
  font-family: isidora-bold-italic;
  src: url(../fonts/isidora-bold-it.woff);
}

/* I C O N S */
/* M E N U  A R E A */
/* GENERAL */
*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: isidora-medium;
  font-size: 62.5%;
  line-height: 1.5;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

/* L I N K S */
a:link,
a:visited {
  display: block;
  width: 70vw;
  text-decoration: none;
  font-family: isidora-medium;
  font-size: 2.2rem;
  color: #feea01;
}

a:hover {
  font-family: isidora-medium;
}

a:active {
  color: #ffffff;
}

li {
  list-style-type: none;
}

/* M E N U */
.menu {
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 90;
}

.menu__icon--big {
  position: fixed;
  height: clamp(40px, 7vw, 65px);
  width: clamp(40px, 7vw, 65px);
  top: clamp(26px, 4vw, 45px);
  z-index: 92;
}

.menu__icon--small {
  height: clamp(27px, 3vw, 33px);
  width: clamp(27px, 3vw, 33px);
  -webkit-box-shadow: 0 0 0 0, 2rem #feea01;
          box-shadow: 0 0 0 0, 2rem #feea01;
  border-radius: 50%;
}

.menu__icon--small:active {
  -webkit-box-shadow: 0 0 0 0.2rem #ffffff;
          box-shadow: 0 0 0 0.2rem #ffffff;
}

.daf-logo {
  left: clamp(26px, 4vw, 45px);
}

#navigation {
  display: none;
}

.menu label {
  position: fixed;
  top: clamp(26px, 4vw, 45px);
  right: clamp(26px, 4vw, 45px);
  height: clamp(40px, 7vw, 65px);
  width: clamp(40px, 7vw, 65px);
  border-radius: 50%;
  cursor: pointer;
  z-index: 93;
}

/* M E N U   B U T T O N */
.menu__button {
  right: clamp(26px, 4vw, 45px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  background-color: #222222;
  -webkit-box-shadow: 0 0 0 0.2rem #feea01;
          box-shadow: 0 0 0 0.2rem #feea01;
}

@media screen and (min-width: 800px) {
  .menu__button::after {
    content: '';
    position: fixed;
    height: clamp(40px, 7vw, 65px);
    width: clamp(40px, 7vw, 65px);
    border-radius: 50%;
    -webkit-box-shadow: 0 0 0 0.4rem #19d0ff;
            box-shadow: 0 0 0 0.4rem #19d0ff;
    opacity: 0;
    -webkit-transition: opacity 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out;
  }
}

.menu__button:hover::after {
  opacity: 1;
}

.menu__button--lines {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  -webkit-box-shadow: 0 0 0 0.1rem #feea01;
          box-shadow: 0 0 0 0.1rem #feea01;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.menu__button--lines::before,
.menu__button--lines::after {
  content: '';
  position: absolute;
  bottom: clamp(6px, 0.9vw, 10px);
  width: 100%;
  -webkit-box-shadow: inherit;
          box-shadow: inherit;
  z-index: 99;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.menu__button--lines::after {
  top: clamp(6px, 0.9vw, 10px);
}

/* M E N U   B U T T O N   A N I M A T I O N */
#navigation:checked + label .menu__button {
  -webkit-box-shadow: 0 0 0 0.2rem #ffffff;
          box-shadow: 0 0 0 0.2rem #ffffff;
}

#navigation:checked + label .menu__button > .menu__button--lines {
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
  -webkit-box-shadow: 0 0 0 0.1rem #ffffff;
          box-shadow: 0 0 0 0.1rem #ffffff;
}

#navigation:checked + label .menu__button > .menu__button--lines::before,
#navigation:checked + label .menu__button > .menu__button--lines::after {
  top: 0;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  z-index: 99;
  -webkit-box-shadow: 0 0 0 0.1rem #ffffff;
          box-shadow: 0 0 0 0.1rem #ffffff;
}

@media screen and (min-width: 800px) {
  .menu__button:hover > .menu__button--lines,
  #navigation:checked + label .menu__button:hover > .menu__button--lines,
  #navigation:checked + label .menu__button:hover > .menu__button--lines::after {
    -webkit-box-shadow: 0 0 0 0.15rem #19d0ff;
            box-shadow: 0 0 0 0.15rem #19d0ff;
  }
}

/* M E N U   B A R S */
.menu__container {
  position: absolute;
  top: 0;
  right: 0;
  height: clamp(50vh, 90vh, 95vh);
  width: clamp(10px, 77.5vw, 77.5vw);
}

.menu__bar {
  position: relative;
  top: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  width: 100%;
  margin: 1rem 0 2rem 0;
  padding: max(10px, 2vh) max(26px, 4vw);
  background: rgba(34, 34, 34, 0.85);
  border: 2px solid #19d0ff;
  border-radius: 2rem 0 0 2rem;
  -webkit-transform: translateX(80vw);
          transform: translateX(80vw);
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.menu__bar--languages {
  position: relative;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 9rem;
  height: 4.6rem;
  background: #222222;
  border: 0.2rem solid #feea01;
  border-radius: 4rem;
  -webkit-box-ordinal-group: -2;
      -ms-flex-order: -3;
          order: -3;
}

.menu__bar--pages,
.menu__bar--privacy {
  position: relative;
  top: 0;
  left: 2.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 0.5rem 2.5rem;
  width: 100vw;
  background: #222222;
  border: 0.2rem solid #19d0ff;
  border-radius: 2rem;
  line-height: 1.2;
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
}

.menu__bar--pages {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}

.menu__bar--social-media {
  position: relative;
  top: 0;
  left: 2.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5rem 1.7rem;
  width: 71.5vw;
  height: 5.5rem;
  background: #222222;
  border: 0.2rem solid #19d0ff;
  border-radius: 4rem 0 0 4rem;
  -webkit-box-ordinal-group: -1;
      -ms-flex-order: -2;
          order: -2;
}

/* M E N U   B A R S   A N I M A T I O N */
.menu__bar--privacy,
.menu__bar--languages,
.menu__bar--pages,
.menu__bar--social-media {
  -webkit-transform: translateX(50vw);
          transform: translateX(50vw);
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

#navigation:checked ~ .menu__container > .menu__bar > .menu__bar--privacy,
#navigation:checked ~ .menu__container > .menu__bar > .menu__bar--languages,
#navigation:checked ~ .menu__container > .menu__bar > .menu__bar--pages,
#navigation:checked ~ .menu__container > .menu__bar > .menu__bar--social-media {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

#navigation:checked ~ .menu__container > .menu__bar {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

/* LANGUAGE */
#language {
  display: none;
}

.menu__bar--languages > label {
  position: relative;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
  border-radius: 3rem;
}

[data-category="language__english"] {
  position: relative;
  top: 0;
  left: 0.3rem;
  -webkit-box-shadow: 0 0 0 0.1rem #feea01;
          box-shadow: 0 0 0 0.1rem #feea01;
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
  -webkit-transition: -webkit-transform 0.2s ease;
  transition: -webkit-transform 0.2s ease;
  transition: transform 0.2s ease;
  transition: transform 0.2s ease, -webkit-transform 0.2s ease;
  z-index: 94;
}

[data-category="language__german"] {
  position: relative;
  top: 0;
  right: 0.3rem;
  -webkit-box-shadow: 0 0 0 0.2rem #ffffff;
          box-shadow: 0 0 0 0.2rem #ffffff;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  z-index: 95;
}

#language:checked + header [data-category="language__english"] {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-box-shadow: 0 0 0 0.2rem #ffffff;
          box-shadow: 0 0 0 0.2rem #ffffff;
  z-index: 95;
}

#language:checked + header [data-category="language__german"] {
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
  -webkit-box-shadow: 0 0 0 0.1rem #feea01;
          box-shadow: 0 0 0 0.1rem #feea01;
  z-index: 94;
}

[lang="en"] {
  display: none;
}

#language:checked + header [lang="en"] {
  display: block;
}

#language:checked + header [lang="de"] {
  display: none;
}

header {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: url("../img/landing_bg_sm.webp") no-repeat center top;
}

body {
  background: #999999;
}
