/* COLORS */
$yellow-main: #feea01;
$yellow-dark: #988c01;
$yellow-dark-transparent: rgba(152,140,1,0.1);
$yellow-light: #fff9b3;
$contrast-blue: #19d0ff;
$grey-dark: #222222;
$grey-dark-transparent: rgba(34,34,34,0.8);
$grey-medium: #999999;
$grey-medium-transparent: rbga(153,153,153,0.5);
$grey-light: #cccccc;
$white: #ffffff;
$black: #000000;