/* F O N T   F A M I L Y */
@font-face {
    font-family: isidora;
    src: url(../fonts/isidora-regular.woff);
    font-display: swap;
}
@font-face {
    font-family: isidora-italic;
    src: url(../fonts/isidora-regularit.woff);
    font-display: swap;
}
@font-face {
    font-family: isidora-medium;
    src: url(../fonts/isidora-medium.woff);
    font-display: swap;
}
@font-face {
    font-family: isidora-medium-italic;
    src: url(../fonts/isidora-mediumit.woff);
    font-display: swap;
}
@font-face {
    font-family: isidora-semibold;
    src: url(../fonts/isidora-semibold.woff);
    font-display: swap;
}
@font-face {
    font-family: isidora-semibold-italic;
    src: url(../fonts/isidora-semiboldit.woff);
    font-display: swap;
}
@font-face {
    font-family: isidora-bold;
    src: url(../fonts/isidora-bold.woff);
    font-display: swap;
}
@font-face {
    font-family: isidora-bold-italic;
    src: url(../fonts/isidora-bold-it.woff);
    font-display: swap;
}

/* G L O B A L */
// Main
html {
    font-family: isidora-medium;
    font-size: 62.5%;
}
// Links
a:link,
a:visited {
    display: block;
    padding: 0 5px 0 10px;
    text-decoration: none;
    font-family: isidora-medium;
    font-size: clamp(2.2rem, 2.2vw, 3rem);
    line-height: 1.3;
    color: $yellow-main; 
    background-color:$yellow-dark-transparent;
}
a:hover {
    font-family: isidora-medium;
}
a:active {
    color: $white;
}

li {
    list-style-type: none;
    width: 100%; padding: 4px 0;
}