/* F O N T   F A M I L Y */
@font-face {
    font-family: isidora;
    src: url(../fonts/isidora-regular.woff);
}
@font-face {
    font-family: isidora-italic;
    src: url(../fonts/isidora-regularit.woff);
}
@font-face {
    font-family: isidora-medium;
    src: url(../fonts/isidora-medium.woff);
}
@font-face {
    font-family: isidora-medium-italic;
    src: url(../fonts/isidora-mediumit.woff);
}
@font-face {
    font-family: isidora-semibold;
    src: url(../fonts/isidora-semibold.woff);
}
@font-face {
    font-family: isidora-semibold-italic;
    src: url(../fonts/isidora-semiboldit.woff);
}
@font-face {
    font-family: isidora-bold;
    src: url(../fonts/isidora-bold.woff);
}
@font-face {
    font-family: isidora-bold-italic;
    src: url(../fonts/isidora-bold-it.woff);
}

/* G L O B A L */
// Main
html {
    font-family: isidora-medium;
    font-size: 62.5%;
}
// Links
a:link,
a:visited {
    display: block;
    width: 70vw;
    text-decoration: none;
    font-family: isidora-medium;
    font-size: clamp(1rem, 2.2rem, 6rem);
    color: $yellow-main; 
    // background: green;
}
a:hover {
    font-family: isidora-medium;
}
a:active {
    color: $white;
}

li {
    list-style-type: none;
}