/* H E A D E R */
header { 
    width: 100vw;
    min-height: 100vh;
    background-color: red;

    & .landing-page__header {
        position: relative;
        width: 100vw;
        background-color: aqua; 

        & .landing-page__bg--sm {
            position: relative;
            top: 0;
            left: 0;
            width: 100%; 
        }
        & .landing-page__bg--dt {
            display: none;
        }
    
        & .landing-page__header--headline {
            position: absolute;
            top: 0;
            left: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%; 
            text-shadow: $text-fx__text-shadow--landing-page;
            text-align: center;

            & .h1__main {
                margin-top: 22%;
            }
            & .h3__main {
                margin: 0rem 8rem;
            }
        }
    }
    
    
    @media screen and (min-width: $media-query__sm--landscape) {
        height: 100vh;
    }
    @media screen and (min-width: $media-query__tb) {
        // height: 50vw;        
    }
    @media screen and (min-width: $media-query__tb--landscape) {
        // height: 70vh;
    }
    @media screen and (min-width: $media-query__laptop) {
        height: 100vh;
    }
}


/* C T A s */
// Container
.landing-page__cta {  
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: clamp(4vw, 6vw, 10vw);
    width: 100vw;
    height: auto; 
    margin: 15vw 0; background-color: green;
    @media screen and (min-width: $media-query__laptop) {
        position: absolute;
        top: 35%;
        left: 15%;
    };
}

.cta__container { display: none;
.landing-page__cta { 
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: clamp(100px, 60vw, 300px);
    height: clamp(100px, 45vw, 220px);
    box-shadow: 0 0 0 0.2rem $yellow-main;
    border-radius: 40px;
    background-color: $grey-dark;
    transition: all 0.3s ease;

    h2 {
        
        z-index: 1;
    }
   
    // CTA Container Animation    
    @media screen and (min-width: $media-query__laptop) {
        &:hover {
            box-shadow: $box-shadow__hover;
            h2 {
                color: $contrast-blue;
            }
            .cta-container__content--guests {
                padding: 40px;
            }
            .cta-containter__img--photo1 {
                transform: translateY(5px) rotate(5deg) scale(1.3);
            }
            .cta-containter__img--photo2 {
                transform: translate(-5px, 5px) rotate(-5deg) scale(1.3);
            }
            .cta-containter__img--photo3 {
                transform: translateY(-5px) scale(1.2);
            }
            .cta-containter__img--video1 {
                transform: rotate(5deg) scale(.9);
            }
            .cta-containter__img--video2 {
                transform: rotate(-5deg) scale(.9);
            }
            .cta-containter__img--video3 {
                transform: translate(-50%, -50%) scale(1.2);
            }
        }
    }
}

// CTA Guests
.cta-container__content--guests {
    position: absolute;
    top: 0;
    left: 0;
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    justify-content:space-between;
    align-items: stretch;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 20px;
    transition: all 0.3s ease;
}

.cta-containter__img--guests,
.cta-containter__img--photo1,
.cta-containter__img--photo2,
.cta-containter__img--photo3,
.cta-containter__img--video1, 
.cta-containter__img--video2, 
.cta-containter__img--video3, {
    margin: 0 auto;
    border: 2px solid $grey-medium;
    border-radius: 10px;
}

.cta-containter__img--guests {
    position: relative;
    top: 10%;
    width: 90%;
    height: 85%;
    @media screen and (min-width: $media-query__laptop) {
        justify-content:center;
    align-items:center;
    }
}
// CTA Photos

.cta-container__content--photos {
    position: absolute;
    top: 0%;
    left: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    gap: 3%;
    width: 100%;
    height: 100%;
    padding: 20px;
    // overflow: hidden;
}

.cta-containter__img--photo1,
.cta-containter__img--photo2,
.cta-containter__img--photo3 {
    transition: all 0.3s ease;
}

.cta-containter__img--photo1 {
    width: 20%;
}
.cta-containter__img--photo2 {
    width: 40%;
}
.cta-containter__img--photo3 {
    width: 25%;
}

// CTA Videos
.cta-container__content--videos {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.cta-containter__img--video1,
.cta-containter__img--video2,
.cta-containter__img--video3 {
    position: absolute;
    width: 45%;
    transition: all 0.3s ease;
}
.cta-containter__img--video1 {
    top: 20px;
    left: 20px;
}
.cta-containter__img--video2 {
    bottom: 20px;
    right: 20px;
}
.cta-containter__img--video3 {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}}