/* LANGUAGE */
.menu__bar--languages > label {
    position: relative;
    top: 0;
    left: 0;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: $icon__small--size;
    width: $icon__small--size;
    border-radius: 3rem;
}

// Language => Button Switch
    // english
    [lang="en"]{
        display: none;
    }
    [lang="de"]{
        display: block;
    }
    [data-category="language__english"] {
        box-shadow: 0 0 0 0.2rem $yellow-main;
    }
    #english:checked ~ header > nav > .menu > .menu__container > .menu__bar > .menu__bar--languages > label > [data-category="language__english"] {
        box-shadow: 0 0 0 0.3rem $white;
    }
    // german
    [data-category="language__german"] {
        box-shadow: 0 0 0 0.2rem $yellow-main;
    }
    #german:checked ~ header > nav > .menu > .menu__container > .menu__bar > .menu__bar--languages > label > [data-category="language__german"] {
        box-shadow: 0 0 0 0.3rem $white;
    }

// Language => Menu Text Switch
#english:checked  ~ header > nav > .menu > .menu__container > .menu__bar > ul >  [lang="de"] {
    display: none;
}
#english:checked  ~ header > nav > .menu > .menu__container > .menu__bar > ul >  [lang="en"] {
    display: block;
}
#german:checked  ~ header > nav > .menu > .menu__container > .menu__bar > ul >  [lang="en"] {
    display: none;
}
#german:checked  ~ header > nav > .menu > .menu__container > .menu__bar > ul >  [lang="de"] {
    display: block;
}

// Language => Content Text Switch
#english:checked  ~ main > #main__website [lang="de"] {
    display: none;
}
#english:checked  ~ main > #main__website [lang="en"] {
    display: block;
}
