#header__landing-page { 
    width: 100%;
    height: 33vh;
    background-color: $grey-dark;
    background: url('../img/landing_bg_sm.webp') no-repeat center center  / auto 33vh;    
    h1 {
        margin-top: $h1__margin--top;
        text-shadow: $text-fx__text-shadow--landing-page;
    }
    h3 {
        margin: 0 25vw;
        text-align: center;
        text-shadow: $text-fx__text-shadow--landing-page;
    }

    @media screen and (min-width: $media-query__sm--landscape) {
        height: 100vh;
        background: url('../img/landing_bg_sm.webp') no-repeat center top  / 100vw auto;
        
    }

    @media screen and (min-width: $media-query__tb) {
        
        height: 50vw;
        background: url('../img/landing_bg_sm.webp') no-repeat center top  / 100vw auto;
        
        h3 {
            margin: 0 15vw;
        }
    }

    @media screen and (min-width: $media-query__tb--landscape) {
        height: 70vh;
        background: url('../img/landing_bg_sm.webp') no-repeat center top  / 100vw auto;
        
    }
    @media screen and (min-width: $media-query__laptop) {
        height: 100vh;
    }

}