/* H E A D E R */
header { 
    position: relative;
    display: flex;
    width: 100vw;
    height: 100vh;
    

    & nav {
         position: absolute;
         top: 0;
         left: 0; 
         z-index: 1;
    }
}

/* HEADER LANDING PAGE CONTENT */
.landing-page__header {
    position: relative;
    width: 100%;

    & .landing-page__bg--sm {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%; 
        z-index: -1;
    }
    & .landing-page__bg--dt {
        display: none;
        z-index: -1;
    }
    @media screen and (min-width: $media-query__laptop) {
        & .landing-page__bg--sm {
            display: none;
        }
        & .landing-page__bg--dt {
            display: block; 
            position: absolute;
            top: 0;
            left: 50%;
            width: 100%;
            transform: translate(-50%, 0);
            
        }
    }
}

.landing-page__header--headline {
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; 
    text-shadow: $text-fx__text-shadow--landing-page;
    text-align: center;

    & .h1__main {
        margin-top: 20%;
    }
    & .h3__main {
        margin: 0rem 8rem;
    }
}
    
/* C T A s */
// Container
.landing-page__cta {  
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5vh;
    width: 100%; 
    margin: 10rem auto 0;
    
    @media screen and (min-width: $media-query__sm--landscape) {
        flex-direction: row;
        gap: 5vw;
        margin: 3rem auto 0;
    }
    @media screen and (min-width: $media-query__tb) {
        margin: 25vh auto 0;
    }
    @media screen and (min-width: $media-query__laptop) {
        margin: 10rem auto 0;
        z-index: 2;
    };
}

.cta__container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: unquote("max(10rem, 17vw)");
    height: unquote("max(8rem, 12vw)");
    box-shadow: 0 0 0 0.2rem $yellow-main;
    border-radius: unquote("min(8vw, 20px)");
    background-color: $grey-dark;
    transition: transform 0.3s ease;
    z-index: 0;

    h2 {
        margin: 0;
        z-index: 1;
        
    }
   
    // CTA Container Animation    
    @media screen and (min-width: $media-query__laptop) {
        &:hover {
            box-shadow: $box-shadow__hover;
            transform: scale(1.03);
            h2 {
                color: $contrast-blue; 
                transition: transform 0.3s ease;
            }
            .cta-containter__img--guests {
                transform: scale(1.15) ;
            }
            .cta-containter__img--photo1 {
                transform: rotate(8deg) ;
            }
            .cta-containter__img--photo2 {
                transform: rotate(-8deg) ;
            }
            .cta-containter__img--video { 
                transform: rotate(3deg);
            }
        }
    }
}

// CTA Guests
.cta-container__content--guests {
    position: absolute;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    justify-content:space-between;
    align-items:stretch;
    width: 90%;
    height: 90%;
    margin: 0 auto;
}
.cta-containter__img--guests,
.cta-containter__img--photo1,
.cta-containter__img--photo2,
.cta-containter__img--video {
    margin: 0 auto;
    border: 1px solid $grey-medium;
    border-radius: unquote("min(1vw, 10px)");
    transition: transform 0.3s ease;
}
.cta-containter__img--guests {
    position: relative;
    width: 75%;
    height: 75%;
    top: 10%;
}

// CTA Photos
.cta-container__content--photos {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 90%;
    gap: 2.5rem 0;
    padding: 10px 0;
}
.img__photo--row1,
.img__photo--row2 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 0 5%;
    width: 90%;
    height: 40%;
}
.img__photo--row2 {
    align-items: flex-end;
}
.cta-containter__img--photo1 {
    width: 22%; 
}
.cta-containter__img--photo2 {
    width: 32%;
}

// CTA Videos
.cta-container__content--videos {
    position: absolute;
    display: grid;
    grid-template-columns: 45% 45%;
    grid-template-rows: 35% 35%;
    justify-content: center;
    align-items: center;
    gap: 30% 10%;
    width: 90%;
    height: 90%;
    padding: 10px 0;
}
.cta-containter__img--video {
    width: 90%;
    height: auto;
}