/* H E A D E R */
.header__main { 
    position: relative;
    display: flex;
    width: 100vw;

    & nav {
         position: absolute;
         top: 0;
         left: 0; 
         z-index: 1;
    }
}

/* B O D Y */
body {
    background-color: $grey-dark;
    overflow-x: hidden; width: 100vw; height: 100vh;
    
    
}

#main__website {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    min-height: 100%;  
    background: 
      linear-gradient(217deg, rgba(0,0,0,1), rgba(0,0,0,.2) 90%),
      linear-gradient(127deg, rgba($grey-dark,1), rgba($grey-medium,.2) 90%),
      linear-gradient(336deg, rgba($yellow-dark,1), rgba($yellow-dark,.2) 70%);
}