/* M E N U */
.menu {
    position: fixed;
    height: 100vh;
    width: 100vw;  
    z-index: 90;

    & label {
        position: fixed;
        top: $icon__big--padding;
        right: $icon__big--padding;
        height: $icon__big--size;
        width: $icon__big--size;   
        border-radius: 50%;
        cursor: pointer;
        z-index: 93;  background: red;
    }
}

/* I C O N S */
.menu__icon--big {
    position: fixed;
    height: $icon__big--size;
    width: $icon__big--size;    
    top: $icon__big--padding; 
    z-index: 92;
}
.menu__icon--small {
    height: $icon__small--size;
    width: $icon__small--size;
    box-shadow: 0 0 0 0,2rem $yellow-main;
    border-radius: 50%;
    transition: all 0.3s ease;
    &:active {
        box-shadow: 0 0 0 0.2rem $white;
    }

    @media screen and (min-width: $media-query__laptop) {
        &:hover {
            box-shadow: 0 0 0 4px $contrast-blue;
        }
    }
}
// Logo
.daf-logo {
    left: $icon__big--padding;
}

//-------------------------------------------------------------------------------------



// Menu Checkbox
#navigation {
    display: none; 
}
/* M E N U   B U T T O N */
.menu__button {
    right: $icon__big--padding;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: $grey-dark;
    box-shadow: 0 0 0 0.2rem $yellow-main;

    @media screen and (min-width: $media-query__laptop) {
        &::after {
            content: '';
            position: fixed;
            height: $icon__big--size;
            width: $icon__big--size;  
            border-radius: 50%;
            box-shadow: 0 0 0 0.4rem $contrast-blue;
            opacity: 0;
            transition: opacity 0.2s ease-in-out;
        }
    }

    &:hover::after {
        opacity: 1;
    }
}
// Menu Button Lines
.menu__button--lines {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    box-shadow: 0 0 0 0.1rem $yellow-main;
    transition: all 0.3s ease;

    &::before,
    &::after {
        content:'';
        position: absolute;
        bottom: $button__lines--padding;
        width: 100%;
        box-shadow: inherit;
        z-index: 99;
        transition: all 0.3s ease;
    }
    &::after {
        top: $button__lines--padding;
    }
}

// Button Lines hover
@media screen and (min-width: $media-query__laptop) {
    .menu__button:hover > .menu__button--lines,
    #navigation:checked + label .menu__button:hover > .menu__button--lines,
    #navigation:checked + label .menu__button:hover > .menu__button--lines::after {
        box-shadow: 0 0 0 0.15rem $contrast-blue;
    }
}

/* M E N U   B U T T O N   A N I M A T I O N */
// Button Checkbox checked
#navigation:checked + label .menu__button {
    box-shadow: 0 0 0 0.2rem $white;

    & > .menu__button--lines {
        transform: rotate(225deg);
        box-shadow: 0 0 0 0.1rem $white;

        &::before,
        &::after {
            top: 0;
            transform: rotate(90deg);
            z-index: 99;
            box-shadow: 0 0 0 0.1rem $white;
        }
    }
}

//-------------------------------------------------------------------------------------


/* M E N U   B A R S */
.menu__container {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.menu__bar {
    position: relative; 
    top: 0; 
    left:0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    height: 100%;    
    background: transparent; 
    transition: all 0.4s ease;
    
}

.menu__bar--pages {
    position: relative;
    top: 100px;
    display: flex;
    flex-direction: column;
    width: 50vw;
    margin: 0 auto;
    background: $grey-dark;
    box-shadow: 0 0 0 2px $yellow-main;
    border-radius: 2rem;
    translate: 100vw 0;

    @media screen and (min-width: $media-query__sm--landscape) {
        top: 25px;
    }
    @media screen and (min-width: $media-query__tb) {
        top: 125px;
    }

    @media screen and (min-width: $media-query__laptop) {
        position: absolute;
        top: 35px;
        right: 140px;
        flex-direction: column;
        width: 300px;
        height: auto; 

    }
    @media screen and (min-width: $media-query__desktop) {
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        width: 760px;
        height: 50px;
        margin: 0;
        border-radius: 40px;
    }
}

.menu__bar--privacy  {
    position: relative;
    top: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 2rem;
    margin: 0 auto;
    width: 70vw;
    background: $grey-dark;
    box-shadow: 0 0 0 2px $yellow-main;
    border-radius: 4rem;
    order: 1;
    translate: -100vw 0;

    @media screen and (min-width: $media-query__sm--landscape) {
        top: 40px;
        width: 50vw;
    }
    @media screen and (min-width: $media-query__tb) {
        top: 160px;
    }
    @media screen and (min-width: $media-query__laptop) {
        position: absolute;
        top: 35px;
        left: 125px;
        height: 50px;
        width: auto;
    }
}

.menu__bar--social-media {
    position: fixed;
    top: 100px;
    left: $icon__big--padding;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: $icon__big--size;
    height: auto;
    margin:  $menu__bars--margin;
    padding: 2vw 0;
    background: $grey-dark;
    box-shadow: 0 0 0 2px $yellow-main;
    border-radius: 4rem;
    translate: 0 -100vh;

    @media screen and (min-width: $media-query__tb) {
        top: 125px;
        left: 35px;
        width: 50px;   
          
    }
    @media screen and (min-width: $media-query__tb--landscape) {
    }
    @media screen and (min-width: $media-query__laptop) {
        padding: 1vw 0;
    }

    @media screen and (min-width: $media-query__desktop) {
        
    }
    & li {
        width: auto;
    }
}

.menu__bar--languages {
    position: fixed;
    top: 100px;
    right: $icon__big--padding;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: $icon__big--size;
    height: 90px;
    background: $grey-dark;
    box-shadow: 0 0 0 2px $yellow-main;
    border-radius: 40px;
    translate: 0 -100vh;

    @media screen and (min-width: $media-query__sm--landscape) {
    }
    
    @media screen and (min-width: $media-query__tb) {
        top: 125px;
        width: 50px;
        right: 35px;
    }
 
    @media screen and (min-width: $media-query__laptop) {
        // top: 140px;
        display: flex;
        flex-direction: column;
        height: 100px;
        &:hover {
            box-shadow: 0 0 0 4px $contrast-blue;    
        }
    }
}

/* M E N U   B A R S   A N I M A T I O N */
.menu__bar--privacy,
.menu__bar--languages,
.menu__bar--pages,
.menu__bar--social-media {
    transition: all 0.6s ease;

    @media screen and (min-width: $media-query__desktop) {
        & {
            transform: none;
        }
    }
}
#navigation:checked ~ .menu__container > .menu__bar > .menu__bar--privacy,
#navigation:checked ~ .menu__container > .menu__bar > .menu__bar--languages,
#navigation:checked ~ .menu__container > .menu__bar > .menu__bar--pages,
#navigation:checked ~ .menu__container > .menu__bar > .menu__bar--social-media {
    translate: 0 0;
}


/* LANGUAGE */
#language {
    display: none; 
}
.menu__bar--languages > label {
    position: relative;
    top: 0;
    left: 0;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 3rem;
}
// Language Button Switch
    //german
[data-category="language__english"] {
    position: relative;
    top: 0.3rem;
    left: 0rem;
    box-shadow: 0 0 0 0.1rem $yellow-main;
    transform: scale(0.6);
    transition: transform 0.2s ease;
    z-index: 94;
    &:hover {
        box-shadow: 0 0 0 0.2rem $white;
    }
}
[data-category="language__german"] {
    position: relative;
    top: -0.4rem;
    right: 0rem;
    box-shadow: 0 0 0 0.2rem $white;
    transform: scale(0.9);
    transition: all 0.2s ease;
    z-index: 95;
    &:hover {
        box-shadow: 0 0 0 0.2rem $white;
    }
}
    //english
#language:checked + nav [data-category="language__english"] {
    transform: scale(0.9);
    box-shadow: 0 0 0 0.2rem $white;
    z-index: 95;
    @media screen and (min-width: $media-query__tb) {
        Transform: scale(0.9);
        &:hover {
        box-shadow: 0 0 0 0.2rem $white;
    }
    }
}
#language:checked + nav [data-category="language__german"] {
    transform: scale(0.6);
    box-shadow: 0 0 0 0.1rem $yellow-main;
    z-index: 94;
    @media screen and (min-width: $media-query__tb) {
        Transform: scale(0.6);&:hover {
        box-shadow: 0 0 0 0.2rem $white;
    }
    }
}
// Language Switch Text
[lang="en"] {
    display: none;
}
#language:checked + nav [lang="en"] {
    display: block;
}
#language:checked + nav [lang="de"] {
    display: none;
}

