/* M E N U */
.menu { 
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;  
    height: auto;

    & label {
        position: fixed;
        top: $icon__big--padding;
        right: $icon__big--padding;
        height: $icon__big--size;
        width: $icon__big--size;   
        border-radius: 50%;
        cursor: pointer;
        z-index: 93;
    }
}

/* I C O N S */
.menu__icon--big {
    position: fixed;
    height: $icon__big--size;
    width: $icon__big--size; 
    border-radius: 50%;
    z-index: 92;
}
.menu__icon--small {
    height: $icon__small--size;
    width: $icon__small--size;
    border-radius: 50%;
    transition: all 0.3s ease;
    
    @media screen and (min-width: $media-query__tb) {
        box-shadow: 0 0 0 0.2rem $yellow-main;
    }

    @media screen and (min-width: $media-query__laptop) {
        &:active {
            box-shadow: 0 0 0 0.2rem $white;
        }
        &:hover {
            box-shadow: $box-shadow__hover;
        }
    }
}
// Logo
.daf-logo {
    top: $icon__big--padding;
    left: $icon__big--padding;
    transition: box-shadow 0.3s ease;

    @media screen and (min-width: $media-query__sm--landscape) {
        top: 15px;
    }
    @media screen and (min-width: $media-query__tb) {
        top: $icon__big--padding;
    }
    @media screen and (min-width: $media-query__laptop) {
        &:hover {
            box-shadow: $box-shadow__hover;
        }
    }
}

//-------------------------------------------------------------------------------------

// Menu Checkbox
#navigation {
    display: none; 
}
/* M E N U   B U T T O N */
.menu__button {
    top: $icon__big--padding;
    right: $icon__big--padding;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $grey-dark;
    box-shadow: 0 0 0 0.2rem $yellow-main;

    @media screen and (min-width: $media-query__sm--landscape) {
        top: 15px;
    }
    @media screen and (min-width: $media-query__tb) {
        top: $icon__big--padding;
    }

    @media screen and (min-width: $media-query__laptop) {
        &::after {
            content: '';
            position: fixed;
            height: $icon__big--size;
            width: $icon__big--size;  
            border-radius: 50%;
            box-shadow: 0 0 0 0.4rem $contrast-blue;
            opacity: 0;
            transition: opacity 0.2s ease-in-out;
        }
    }

    &:hover::after {
        opacity: 1;
    }
}
// Menu Button Lines
.menu__button--lines {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    box-shadow: 0 0 0 0.1rem $yellow-main;
    transition: all 0.3s ease;

    &::before,
    &::after {
        content:'';
        position: absolute;
        bottom: $button__lines--padding;
        width: 100%;
        box-shadow: inherit;
        z-index: 99;
        transition: all 0.3s ease;
    }
    &::after {
        top: $button__lines--padding;
    }
}

// Button Lines hover
@media screen and (min-width: $media-query__laptop) {
    .menu__button:hover > .menu__button--lines,
    #navigation:checked + label .menu__button:hover > .menu__button--lines,
    #navigation:checked + label .menu__button:hover > .menu__button--lines::after {
        box-shadow: 0 0 0 0.15rem $contrast-blue;
    }
}

/* M E N U   B U T T O N   A N I M A T I O N */
// Button Checkbox checked
#navigation:checked + label .menu__button {
    box-shadow: 0 0 0 0.2rem $white;

    & > .menu__button--lines {
        transform: rotate(225deg);
        box-shadow: 0 0 0 0.1rem $white;

        &::before,
        &::after {
            top: 0;
            transform: rotate(90deg);
            z-index: 99;
            box-shadow: 0 0 0 0.1rem $white;
        }
    }
}

//-------------------------------------------------------------------------------------


/* M E N U   B A R S */
.menu__container {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    
}

.menu__bar { 
    opacity: 0;
    position: relative; 
    top: 0; 
    left:0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    height: 100%;    
    background: transparent; 
    transition: all 0.4s ease; 
    
}

.menu__bar--pages {
    position: relative;
    top: 100px;
    display: flex;
    flex-direction: column;
    width: 50vw;
    margin: 0 auto;
    background: $grey-dark;
    box-shadow: 0 0 0 2px $yellow-main;
    border-radius: 2rem;
    transform: translate(100vw, 0);z-index: 90;

    @media screen and (min-width: $media-query__sm--landscape) {
        top: 15px;
    }
    @media screen and (min-width: $media-query__tb) {
        top: 125px;
    }

    @media screen and (min-width: $media-query__laptop) {
        position: absolute;
        top: 35px;
        right: 135px;
        flex-direction: column;
        width: 300px;
        height: auto; 

    }
    @media screen and (min-width: $media-query__desktop) {
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        top: $icon__big--padding;
        width: 760px;
        height: 60px;
        margin: 0;
        border-radius: 40px;
    }
}

.menu__bar--privacy  {
    position: relative;
    top: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 50vw;
    background: $grey-dark;
    box-shadow: 0 0 0 2px $yellow-main;
    border-radius: 2rem;
    order: 1;
    transform: translate(-100vw, 0);

    @media screen and (min-width: $media-query__sm--landscape) {
        top: 30px;
        flex-direction: row;
        width: 50vw;
        padding: 0 2rem;
        border-radius: 4rem;
    }
    @media screen and (min-width: $media-query__tb) {
        top: 160px;
    }
    @media screen and (min-width: $media-query__laptop) {
        position: absolute;
        top: $icon__big--padding;
        left: 125px;
        height: 60px;
        width: auto;
    }
}

.menu__bar--social-media {
    position: fixed;
    top: 100px;
    left: $icon__big--padding;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: $icon__big--size;
    height: auto;
    margin:  $menu__bars--margin;
    padding: 2vw 0;
    background: $grey-dark;
    box-shadow: 0 0 0 2px $yellow-main;
    border-radius: 4rem;
    transform: translate(0, -100vh);

    @media screen and (min-width: $media-query__sm--landscape) {
        top: 75px;
    }
    @media screen and (min-width: $media-query__tb) {
        top: 125px;    
    }
    @media screen and (min-width: $media-query__tb--landscape) {

    }
    @media screen and (min-width: $media-query__laptop) {
        padding: 1vw 0;
    }

    @media screen and (min-width: $media-query__desktop) {
        
    }
    
    & li {
        width: auto;
    }
}

.menu__bar--languages {
    position: fixed;
    top: 100px;
    right: $icon__big--padding;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: $icon__big--size;
    height: 90px;
    background: $grey-dark;
    box-shadow: 0 0 0 2px $yellow-main;
    border-radius: 40px;
    transform: translate(0, -100vh);

    @media screen and (min-width: $media-query__sm--landscape) {
        top: 75px;
        height: 100px;
    }
    
    @media screen and (min-width: $media-query__tb) {
        top: 125px;
        height: 120px;
    }
 
    @media screen and (min-width: $media-query__laptop) {
        // top: 140px;
        display: flex;
        flex-direction: column;
        height: 130px;
    }
}

#english,
#german {
    display: none;
    & label {
        border-radius: 50%;
    }
}

/* M E N U   B A R S   A N I M A T I O N */
#navigation:checked ~ .menu {
    height: 100vh;
}    
#navigation:checked ~ .menu__container {
    z-index: -1;
}
#navigation:checked ~ .menu > .menu__container > .menu__bar {
    opacity: 1;
    background: $grey-dark-transparent;
    @media screen and (min-width: $media-query__laptop) {
    background: transparent;
    }
}

.menu__bar--privacy,
.menu__bar--languages,
.menu__bar--pages,
.menu__bar--social-media {
    transition: transform 0.6s ease;
}
#navigation:checked ~ .menu > .menu__container > .menu__bar > .menu__bar--privacy,
#navigation:checked ~ .menu > .menu__container > .menu__bar .menu__bar--languages,
#navigation:checked ~ .menu > .menu__container > .menu__bar .menu__bar--pages,
#navigation:checked ~ .menu > .menu__container > .menu__bar .menu__bar--social-media {
    transform: translate(0, 0); 
}

/* TO TOP BUTTON */
.up-to-top__button {
    @extend .menu__icon--big;
    position: fixed;
    bottom: unquote("min(50px, 20vw)");
    right: $icon__big--padding;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: $grey-dark;
    box-shadow: 0 0 0 0.2rem $yellow-main;
    transition: box-shadow 300ms ease;

    & .up-to-top__button--arrow {
        position: relative;
        top: 2px;
        border: solid $yellow-main;
        border-width: 0 clamp(.5rem, 1.5vw, .7rem) clamp(.5rem, 1.5vw, .7rem) 0;
        display: inline-block;
        padding: 5px;
        transform: rotate(-135deg);
        transition: all 300ms ease;
    }
    @media screen and (min-width: $media-query__laptop) {
        &:hover {
            box-shadow: $box-shadow__hover;
            & .up-to-top__button--arrow {
            border: solid $contrast-blue;
            border-width: 0 clamp(.5rem, 1.5vw, .7rem) clamp(.5rem, 1.5vw, .7rem) 0;
            }
        }
    }
}
