// M I X I N S
@mixin infobox--mixin {
    position: relative;
    top: 0;
    left: 0;
    border-radius: $infobox__border-radius;
}
@mixin infobox--hover {
    @media screen and (min-width: $media-query__laptop) {
        &:hover {
            box-shadow: $box-shadow__hover;
            & > .infobox__headline > .infobox__more--de::after {
                color: $contrast-blue;
            }
            & .infobox__img {
                box-shadow: .05rem 0 .5rem .5rem $contrast-blue-transparent;
            }
        }
    }
}

// H E A D E R
.pages__header {
    position: relative;
    top: 0;
    left: 0;
    width: 100vw;

    & .pages__h2 {
        text-align: center;
        margin: 15vh 0 10vh;
    }
}

/* C O N T E N T */
.pages__content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-bottom: 5vh;
}

// I N F O B O X
.pages__infobox { 
    @include infobox--mixin();  
    width: $infobox__width;
    margin-bottom: 4vh;
    background-color: $grey-dark;
    border: 2px solid $white;
}

.infobox__container { 
    @include infobox--mixin();
    @include infobox--hover;
    display: flex; 
    justify-content: center;
    // gap: 8vw;
    width: 100%;
    box-shadow: 0 0 0 2px $yellow-main;
    overflow: hidden;
    transition: box-shadow 0.3s ease;

    & .infobox__img { 
        width: 100%;
        object-fit: contain;
        aspect-ratio: 1 / 1;
        flex: 1 2 100%;
        box-shadow: .05rem 0 .5rem .5rem $yellow-main-transparent;
        border-radius: $infobox__border-radius;
        transition: box-shadow .3s ease;
    }

    & .infobox__headline {
        position: relative;
        flex: 2 1 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 1rem 2rem 1rem 3rem;

        & .infobox__h3 {
            margin: 0;
        }
        
        & .infobox__more--de,
        & .infobox__more--en {
            margin: .5rem 0 0 ;
        }
        & .infobox__more--de::after {
            content: "mehr...";
            display: flex;
            align-items: center;
            color: $yellow-main;
            transition: all 0.3s ease; 
        }
        & .infobox__more--en::after {
            @extend .infobox__more--de::after;
            content: "more...";
        }
        & .infobox__teaser {
            display: none; 
            @media screen and (min-width: $media-query__laptop) {
                display: block;
            }
            & p {
                letter-spacing: .03;
                line-height: 1.2;
            }
        }
    }
}
.infobox__content { 
    & .infobox__text {
        margin: 0 3rem;
    }
}

.guestbox {
    margin: 1rem;
    border: 1px solid $white;
    border-radius: $infobox__border-radius;

    & .guestbox__h4 {
        margin: 0em 3rem;
    }
    & .guestbox__text {
        margin: 0em 3rem;
    }
}
.guestbox__contact {
    margin: 0em 0rem;
    padding: 0;
}
.guestbox__fotos {
    & .guestbox__fotos--frame {
        position: relative;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
        align-items: center;
        gap: .5rem;
        width: 100%;
        margin: 1.5rem 0;
        padding: 0 2rem;

        & .guestbox__picture {
            flex: 0 0 20%;            
            & img {
                width: 100%;
                border: 2px solid $yellow-main;
                border-radius: $guestbox__foto--border-radius;
            }
        }
    }
}

.guestbox__videos {
    & .guestbox__videos--frame {
        position: relative;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        gap: .5rem;
        width: 100%;
        margin: 1.5rem 0;
        padding: 0 2rem;

         & .guestbox__video {
            flex: 0 0 20%;            
            & img {
                width: 50%;
                border: 2px solid $yellow-main;
                border-radius: $guestbox__foto--border-radius;
            }
        }
    }
}


/* I N F O B O X   S W I T C H */
// Infobox Checkbox
.pages__infobox > input[type=checkbox] { 
    display: none;
}
 .infobox__label {
    cursor: pointer;
}

// Infobox Content
.pages__infobox > input[type=checkbox]:checked ~ .infobox__content,
.pages__infobox > input[type=checkbox]:checked ~ .infobox__content > *,
.pages__infobox > input[type=checkbox]:checked ~ .infobox__content > * > * {
    padding: 1rem 0;
    font-size: $fs__p;
    transition: font-size .3s ease;
}
.pages__infobox > input[type=checkbox]:not(:checked) ~ .infobox__content,
.pages__infobox > input[type=checkbox]:not(:checked) ~ .infobox__content > *,
.pages__infobox > input[type=checkbox]:not(:checked) ~ .infobox__content > * > * {
    padding: 0;
    font-size: 0px;
    transition: font-size .3s ease;
}

// Infobox More or Less
.pages__infobox > input[type=checkbox]:checked + .infobox__label > .infobox__container > .infobox__headline > .infobox__more--de::after {
    content:"weniger...";
}
.pages__infobox > input[type=checkbox]:checked + .infobox__label > .infobox__container > .infobox__headline > .infobox__more--en::after {
    content:"less...";
}
.pages__infobox > input[type=checkbox]:not(:checked) + .infobox__label > .infobox__container > .infobox__headline > .infobox__more--de {
    display: block; 
    
}
.pages__infobox > input[type=checkbox]:checked + .infobox__label > .infobox__container > .infobox__headline > .infobox__less {
    display: block;
}
.pages__infobox > input[type=checkbox]:not(:checked) + .infobox__label > .infobox__container > .infobox__headline > .infobox__less {
    display: none; 
}