/* I C O N S */
// Icons Big
$icon__big--size: clamp(40px, 7vw, 65px);
$icon__big--padding: unquote("min(30px, 5vw)");
// Icons Small
$icon__small--size: clamp(27px, 3vw, 33px);
// Menu Button Lines
$button__lines--padding: clamp(6px, 0.9vw, 10px);

/* M E N U  A R E A */
// Menu Bar

// Menu Bars All
$menu__bars--margin: 0 20px 20px 0;

// Social Media Bar
$menu__socialmedia-bar--height: unquote("min(230px, 50vw)");

// Pages Bar


/* M E D I A   Q U E R I E S */
$media-query__sm--landscape: 420px;
$media-query__tb: 768px;
$media-query__tb--landscape: 840px;
$media-query__laptop: 1025px;
$media-query__desktop: 1445px;

/* S T Y L E S */
$box-shadow__hover: 0 0 0 4px $contrast-blue;