@import "colors";
@import "units";
@import "fonts";
@import "global";
@import "menu";

header { 
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: red;
    background: url('../img/landing_bg_sm.webp') no-repeat center top;
   
}

body {
    background: $grey-medium;
}
.content-box {
    height: 1400px;
    background-color: turquoise;
}