@import "colors";
@import "units";
@import "fonts";
@import "global";
@import "menu";
@import "language";
@import "landing-page";



body {
    background-color: $grey-dark;
    background: $grey-dark linear-gradient($grey-dark 70%, $black) 0 0 / 100vw 100vh fixed;
    
}

header {
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.index-box {
    height: 1400px;
}
#guest-box, #guest-test {
    height: 1400px;
    background-color: salmon;
    & p {
        font-size: 6rem;
    }
}